---
import EditShortcut from "../../../components/preact/editShortcut";
import Layout from "../../../layouts/MainLayout.astro";
import { db } from "../../../../prisma/init";

const { id } = Astro.params;

const shortcut = await db.shortcut.findUnique({
    where: {
        id: id as string
    }
})

---

<Layout title="Edit Shortcut">
    <section class="section">
        <h1 class="title">Edit Shortcut</h1>
    </section>
    <section class="section">
        <EditShortcut data={shortcut} client:load />
    </section>
</Layout>