---
import EditShortcut from "@components/preact/editShortcut";
import Layout from "@layouts/MainLayout.astro";

const { id } = Astro.params;

---

<Layout title="Edit Shortcut">
    <section class="section">
        <h1 class="title">Edit Shortcut</h1>
    </section>
    <section class="section">
        <EditShortcut data={id} client:load />
    </section>
</Layout>