---
import Layout from '../layouts/MainLayout.astro';
import AddShortcuts from '../components/preact/addShortcuts';
import SearchShortcuts from '../components/preact/searchShortcuts';
---

<Layout title="Fast-Dash">
	<main>
		<SearchShortcuts client:load />
		<AddShortcuts client:load/>
	</main>
</Layout>